vrrp_script chk_haproxy {
    script "killall -0 haproxy"
    interval 2
    fall 2
    rise 1
}

vrrp_instance K8S_HA {
    state BACKUP
    interface {{ vrrp_interface }}
    virtual_router_id 51
    priority {{ priority }}
    advert_int 1
    nopreempt
    unicast_src_ip {{ my_ip }}
    unicast_peer {
{% for peer in peer_ips %}
        {{ peer }}
{% endfor %}
    }
    authentication {
        auth_type PASS
        auth_pass {{ vrrp_pass }}
    }
    virtual_ipaddress {
        {{ vip }}/{{ vip_cidr }} dev {{ vrrp_interface }}
    }
    track_script {
        chk_haproxy
    }
    notify_master "/usr/local/bin/k8s-lb-master.sh start"
    notify_backup "/usr/local/bin/k8s-lb-master.sh stop"
    notify_fault "/usr/local/bin/k8s-lb-master.sh stop"
}
