[k8s-src]
name=Kubernetes upstream (mirror source)
baseurl={{ k8s_base }}/
enabled=1
gpgcheck=0
repo_gpgcheck=0

[docker-src]
name=Docker CE upstream (mirror source)
baseurl={{ docker_base }}
enabled=1
gpgcheck=0
repo_gpgcheck=0